html, body {
    height: 100vh;
    width: 100vw;
    position: absolute;
  margin: 0;
  padding: 0;
  height: 100%;
 background-image:   url("coll.jpeg"),
    url("but.jpg");
    background-size: contain,cover;
    background-repeat: no-repeat,repeat;
    background-position: center,left;
}
button{background-color: rgb(192, 8, 137);
color: aquamarine;
font-size: 20px;}
.pho{
    position: absolute;
    left: 5%;
    right: 5%;
    top: 5%;
    bottom: 5%;
    width:50%;
    height: 50%;
}